<div class="login-container">
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-group">
      <label for="email">E-mail</label>
      <input type="email" id="email" formControlName="email" required placeholder="Digite seu e-mail">
    </div>
    <div class="form-group">
      <label for="senha">Senha</label>
      <input type="password" id="senha" formControlName="senha" required placeholder="Digite sua senha">
    </div>
    <button type="submit" [disabled]="loginForm.invalid">Entrar</button>
    <p *ngIf="erro" class="erro">{{ erro }}</p>

    <!-- Adicionando o link para registro -->
    <p class="register-link">
      Ainda não tem uma conta? <a routerLink="/auth/register">Cadastre-se aqui</a>
    </p>
  </form>
</div>
