<div class="register-container">
  <h1>Crie sua Conta</h1>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" id="nome" formControlName="nome" placeholder="Digite seu nome">
      <small class="error" *ngIf="f['nome'].invalid && f['nome'].touched">
        Nome é obrigatório.
      </small>
    </div>

    <div class="form-group">
      <label for="email">E-mail</label>
      <input type="email" id="email" formControlName="email" placeholder="Digite seu e-mail">
      <small class="error" *ngIf="f['email'].invalid && f['email'].touched">
        Insira um e-mail válido.
      </small>
    </div>

    <div class="form-group">
      <label for="senha">Senha</label>
      <input type="password" id="senha" formControlName="senha" placeholder="Crie uma senha">
      <small class="error" *ngIf="f['senha'].invalid && f['senha'].touched">
      A senha deve ter pelo menos 6 caracteres.
      </small>
    </div>

    <button type="submit" [disabled]="registerForm.invalid">Registrar</button>

    <p *ngIf="erro" class="error-message">{{ erro }}</p>

    <p class="login-link">
      Já tem uma conta? <a routerLink="/auth/login">Faça login</a>
    </p>
  </form>
</div>
