
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.boas-vindas {
  color: white;
  padding-right: 20px;
  flex-grow: 1;
  text-align: center;
}
