<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="'/compromissos'">Meus Compromissos</a>
          </li>
          <li class="nav-item">
            <a id="sair" class="nav-link" (click)="logout()">Sair</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Conteúdo Principal -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
