<div class="container">
  <h2>{{ compromissoId ? 'Editar Compromisso' : 'Criar Compromisso' }}</h2>

  <form [formGroup]="compromissoForm" (ngSubmit)="salvarCompromisso()">
    <div class="form-group">
      <label for="titulo">Título</label>
      <input type="text" id="titulo" formControlName="titulo" class="form-control" required />
    </div>

    <div class="form-group">
      <label for="descricao">Descrição</label>
      <textarea id="descricao" formControlName="descricao" class="form-control"></textarea>
    </div>

    <div class="form-group">
      <label for="dataHoraInicio">Data/Hora Início</label>
      <input type="datetime-local" id="dataHoraInicio" formControlName="dataHoraInicio" class="form-control" required />
    </div>

    <div class="form-group">
      <label for="dataHoraFim">Data/Hora Fim</label>
      <input type="datetime-local" id="dataHoraFim" formControlName="dataHoraFim" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-primary">
      {{ compromissoId ? 'Atualizar' : 'Criar' }}
    </button>
    <button type="button" class="btn btn-secondary" (click)="navegarParaCompromissos()">Cancelar</button>
  </form>
</div>
