.compromisso-table {
  width: 100%;
  margin-top: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.mat-header-cell {
  font-weight: bold;
  text-transform: uppercase;
  color: #444;
}

.mat-cell {
  color: #333;
}

button {
  margin-right: 8px;
}
